body{
    background-color:rgb(163, 163, 163);
    display:flex;
    flex-direction:column;
    align-items:center;
}

.scoreboard{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    
}

.player-score, .bot-score, .rounds{
    display:flex;
    justify-content:center;
    width:100%;
}


.selection, #selection-bot{
    width:80%;
    max-width:100px;
    transition:0.5s;      
}

.selection:hover{
    width:100%;
    transform:scale(1.2);
    cursor:pointer;
}

.player-card, .bot-card{
    display:flex;
    flex-direction:column;
    
    align-items:center;
    border: 2px solid black;
    border-radius:5px;
    background-color:white;
    width:100%;
    min-width:450px;
}

.continue{
    width:100px;
    height:100px;
    display:none;
}

.continue.done{
    display:block;
}

.arena{
    display:flex;
    justify-content:center;
    gap:10%
}

.versus{
    align-self:center;
}

.selection.unclickable{
    pointer-events:none;
}